*{ /*reset na página*/
    padding: 0;
    box-sizing: border-box;
    margin: 0px;
}
body{
    margin: 0;
    font-family: arial,impact;
}
li, a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  background-color: #ff8A00;
  position: static;
  top: 0;
  z-index: 10;
  height: 100px;
}

.logotipo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 60px;
}

.navlinks {
  list-style: none;
}

.navlinks li {
  display: inline-block;
  padding: 0 40px;
}

.navlinks li a:hover {
  color: #6090d7;
}

.iskola {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  font-family: "Space Grotesk", sans-serif;
  margin-right: 60px;
}

main{
   background-color: #0062b8; /*aqui onde coloca o conteúdo*/
   height: 550px;
}


.fonte{
    display: flex;
    justify-content: center;
    color: rgba(255, 119, 7, 0.852); /*h1 developers*/
    font-size: 50px;
    font-family: verdana ;
    font-weight: bolder;
}
.devpai{
    display: flex;
    justify-content: center; /*div pai */
    gap: 10px;
    align-items: center;
    height: 200px;
    justify-content: space-around;
    
}
.filho{
    width: 300px;
    margin-top: 250px; /*divs filhos em geral*/
}
.devs{
    height: 300px;
    width: 300px;
    border: 7px solid white; /*imagem das divs*/
}
.hdev{
    display: flex;
    justify-content: center; /*nome de cada dev*/
    font-family: Verdana, sans-serif;
    font-weight: bold;
}
.adev{
    display: flex;
    justify-content: center; /*link de cada instagram em geral*/
    font-size: 25px;
    font-family: verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: rgb(244, 105, 5);
}
.adev:hover{
    text-decoration: underline;
    color: rgb(255, 149, 0); /*decoração dos link de instagram*/
}



footer{
    padding: 20px;
    background-color:  rgb(255, 145, 0); /*rodapé das páginas*/
    color: rgb(11, 5, 45);
}
.pai{
    display: flex;
    background-color:  rgb(255, 145, 0); /*div pai do rodapé*/

    gap: 10px;
    height: 70px;

    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-esquerdo{
    /*Nada pois não sei*/
    width: 350px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;  /*conteúdo que está a esquerda do traço*/
    
    margin-right: 25px;
    
}

.footer-esquerdo a{
    display: block;
    margin-left: 20px;
    align-items: flex-end;
    color: rgb(5, 5, 75); /*links que estão a esquerda*/
     text-decoration: none;
    font-weight: bold;
}
.footer-esquerdo a:hover{
    color: blue;
}

.img02{
    margin-right: 10px; /*logo\imagem que está a esquerda*/
    width: 80px;
    height: 75px;
}
.footer-direito{
    margin-left:25px ;
    text-decoration: none; /*lado direito do rodapé*/
    padding-left: 20px;

    border-left: 3px solid rgba(3, 3, 3, 0.666); /*Isso é o traço que divide os lados aqui*/
    
}

.footer-direito a{
    text-decoration: none;
    margin-left: 10px;
    color: rgb(255, 255, 255); /*links do lado direito*/
    height: 25px;
    font-weight: bold;

}

.footer-direito a:hover{
    text-decoration: underline;
    color: blue;
    
}

.p01{
    color: rgb(2, 2, 148); /* jose bronzeado sobrinho aqui*/
    margin-right: 10px;
}
p{
    color: rgb(157, 49, 49); /*nosso professor aqui*/
    margin-left: 20px;
}