@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
      box-sizing:border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #172C64;
  font-family: 'Barlow Condensed';
}

/* HOME / CURSOS */
.banner {
  background-image: url("../img/img-banner__home.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 805px; */
  height: calc(100vh - 100px );
  /* min-height: 320px; */

}

/* Seção Cursos */
.course {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;
  height: 600px;
  margin-top: 100px;
  
}

.titulo_curso {
  color: chocolate;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  
}

.courses-curso {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 5rem;
  padding-top: 100px;
}

.cartao, .course-card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.cartao:hover, .course-card:hover {
  transform: translateY(-40px);
}

.cartao img, .course-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  
}

.course-info {
  padding: 1rem;
}

.course-titulo {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.sobre, .btn, .bnt {
  display: inline-block;
  background-color: #0066ff;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.sobre:hover, .btn:hover, .bnt:hover {
  background-color: #004ecb;
}


/* seção historia*/










    



    


    

.paragrafo1{
    text-align: center;
    font-size: 20px;
    color: #000;
    margin-top: 100px;
}
.paragrafo2{
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin-top: 50px;
}

 h3 {
    font-size: 2rem;
    color: chocolate;
    text-align: center;
    margin-top: 50px;
    
}
.section-timeline{
    padding:  50px 20px;
    
    
}
.section-timeline .timeline{
    position: relative;
    margin: 0  auto;
    max-width: 1440px;
    padding: 100px ;
}

.section-timeline h1{
    text-align: center;
    font-size: 45px;
    color: chocolate;
    margin-top: 100px;
}

.section-timeline .timeline::before{
    content: "";
    position: absolute;
    width: 3px;
    height: calc(100% - 100px);
    background: #ffffff;
    left: 50%;
    transform: translateX(-50%);
}


.section-timeline .timeline .row .event{
    position: relative;
    padding: 24px;
    background: chocolate;
    width: calc(50% - 30px);
    color: #fff;
    box-shadow: 0 20px 20px rgba(8, 0, 0, 0.3);
}

.section-timeline .timeline .row{
    display: flex;
}


.section-timeline .timeline .row {
    display: flex;
}

.section-timeline .timeline .row.left{
    justify-content: flex-start;
    margin-top: 100px;

}

.section-timeline .timeline .row.right{
    justify-content: flex-end;
    margin-top: 100px;
}

.section-timeline .timeline .row .event::before{
    content: "";
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
}

.section-timeline .timeline .row.left .event::before{
    right: -40px;
}
.section-timeline .timeline .row.right .event::before{
    left: -40px;
}



.container{
    display: flex;
    justify-content:center;
    flex-direction: row;
    justify-content: space-between;
}

@media(max-width:600px){

.container{flex-direction: column;height:auto}


}
.item{
    height: 250px;
    width: 450px;
    list-style: none;
    background-color: chocolate;
    margin-top: 40px;
   
}
.position-h2{
margin-top: 100px;

}
h2{
    color: chocolate;
    text-align: center;
    font-size: 3rem;
    margin-top: 10px;
    
}

.depos_reform{
    margin-top: 400px;
    display: flex;
    justify-content:center;
    flex-direction: row;
    justify-content: space-between;
}  

.container2{  margin-top: 40px;
    display: flex;
    justify-content:center;
    flex-direction: row;
    justify-content: space-between;
    
}

.item2{
    
    height: 250px;
    width: 450px;
    list-style: none;
    margin-top: 40px;
    
}
@media(max-width:600px){ 

.container2{flex-direction: column;
    height: auto;
    }
 
}

.depois{
    margin-top: 300px;
}




*{
    padding: 0;
    box-sizing: border-box;
    margin: 0px;
}
body{
    
    font-family: arial,impact;
}



.img01{
    height: 250px;
    margin: 70px;
    display: flex;
    width: 250px;
    
}

                                /* CARDS DA SECTION PROFESSORES */


.container__docentes{
    padding: 50px;
    
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content:center; /*div pai */
    align-items: center;    /*Alinha os cards ao centro da div */
    justify-content:space-around;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 20px;
    
    
    
}



.dev__card{

    width: 250px;
    height: 250px;
    background-color:#fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
}
.dev__card h3{
    font-size: 12px;
    color: #0062b8;
    margin: 0;
}

.dev__card--img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    
}

.dev__card--img img{
    height: 150px;
    width: 120px;   

}
.dev__card--nome{
    display: flex;
    /* justify-content: center; nome de cada dev */
    font-size: 18px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    padding: 10px;
}
.dev__card--link{
    display: flex;
    /* justify-content: center; link de cada instagram em geral */
    text-decoration: none;
    padding: 10px;
    
}

.dev__card--link:hover{
    text-decoration: underline;
    color: rgb(255, 149, 0); /*decoração dos link de instagram*/
}
.dev__card--link img{
   height: 20px;
    width: 20px;
}




/* seção programas */

.container__programas{
    
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content:center; /*div pai */
    align-items: center;    /*Alinha os cards ao centro da div */
    justify-content:space-around;
    
    
    
}



.programas__card{
    width: 300px;
    height: 250px;
    background-color:#fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.programas__card--img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    
}

.programas__card--img img{
    height: 300px;
    width: 300px;   

}
.programas__card--nome{
    display: flex;
    /* justify-content: center; nome de cada dev */
    font-size: 18px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    padding: 10px;
}
.programas__card--link{
    display: flex;
    /* justify-content: center; link de cada instagram em geral */
    text-decoration: none;
    padding: 10px;
    
}

.programas__card--link:hover{
    text-decoration: underline;
    color: rgb(255, 149, 0); /*decoração dos link de instagram*/
}
.programas__card--link img{
   height: 20px;
    width: 20px;
}





/*rodapé das páginas*/

footer{
    padding: 20px;
    height: 240px;
    background-color:chocolate;
    color:#0b052d;
}

.pai-footer{

    display: flex;
    justify-content: space-between; /* distribui igualmente */
    align-items: flex-start;     /* alinha no topo */
    
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;  
  
    background-color: chocolate;
}


.footer-esquerdo{
    /*Nada pois não sei*/
    width: 120px;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
      /*conteúdo que está a esquerda do traço*/

    padding-right: 100px;
    margin-right: 80px;
    margin-bottom: 30px;
    background-color: chocolate;
    
}

.footer-esquerdo p{ /*nosso p aqui*/

    color: #ffffff; 
    font-weight: bold;
    margin-left: 20px;
    
    margin-top: 70px;
    font-size: 20px;

}

.img-logo-footer{
    margin-right: 10px;
    margin-top:70px;
    width: 120px;
    height: 100px;
}

.footer-com-links-MP{ /*centro do rodapé*/

    margin-left: 60px;
    margin-top: 8px;
    padding-right: 100px;
    
    

    font-weight: bold;
    height: 130px;
    
    /*Isso é o traço que divide os lados aqui*/
    border-left: 3px solid #030303aa; 
    
}


.footer-links{ /*links de MP geral*/

    font-weight: bold;
    
    text-decoration: none;
    list-style: none;

    margin-left: 30px;
    margin-top: 8px;

}

.footer-links a{ /*mapa do site transição*/

    text-decoration: none;
    margin-right: 32px;
    font-size: 16px;
    color: #ffffff;
}

.footer-links a:hover{
    text-decoration: underline;
    color: #0b0b9d;
}

.footer-com-links-RS{
    /*footer direito informações*/

    margin-left: 10px;
    margin-top: 8px;

    padding-right: 140px;
    
    height: 130px;
    
    border-left: 3px solid #030303aa;
    
}


.footer-links-RS{ /*links de RS geral*/

    margin-top: 8px;
    margin-left: 40px;

    text-decoration: none;
    list-style: none;

    font-size: 10px;
    
}

.img-logo-RS{ /* instagram e whatsapp*/
    display: inline-block;
    width: 50px;
    height: auto;
    margin-left: 15px;
    
}

.jbscopy{ /*copyright do footer*/

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    padding: 10px;
    margin-top: 20px ;

    background-color: #060556;
}

.h5-MP{
    font-size: 18px;
    text-align: center;
    margin-left: 10px;
}

.h5-RS{
    font-size: 18px;
    text-align: center;
    margin-left: 22px;
}

.h6-Copyr{

    color: white;
    font-size: 12px;
}

/*Fim do Footer*/

.logo_insta{
    width: 50px;
    height: 50px;
    transition: tranform o.3s ease;
    background-color: orange;
}
.logo_insta:hover{
    transform: scale(1.2);
}


/*  ESTILO SECTION CONTATO */

.section_contato{
    background-color:#fff;
    margin-top: 100px;
    height: 700px;
}
.titulo_comunic{
    padding-top: 50px;
}

.container_contato{
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}

.container_contato h2{
    color: #000;
    padding: 30px;
    margin-top: 100px;
    margin-top: 150px;
}

.maps{
    float: left;
    margin-top: 100px;          
}

.meios_comunic{    
    align-self: center;
}

.meios_comunic ul{
    list-style: none;    
}
.meios_comunic ul li {    
    padding: 10px;    
}

.meios_comunic a {    
    color: #000;    
}


@media (max-width: 500px) {

    footer{
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    }

    .pai-footer{
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
    }
}